<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/genres.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include("../partials/navbar.ejs") %>
    <div class="page_container">
      <header>
        <h1><%= title %></h1>
        <a class="create" href="/genres/create">Create Genre</a>
      </header>
      <ul class="genres_list">
        <% genres.map((genre) => { %>
        <a href="/genres/<%=genre.id%>" class="list_item">
          <span>
            <%= genre.genre.charAt(0).toUpperCase() + genre.genre.slice(1)%>
          </span>
        </a>
        <%})%>
      </ul>
    </div>
  </body>
</html>
