<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/styles.css" />
    <title>Games</title>
  </head>
  <body>
    <%- include("partials/navbar.ejs") %>
    <h1>Games:</h1>
    <a href="/games/create">Add Game</a>
    <ul>
      <% games.map((game) => { %>
      <li>
        <a href="/games/<%= game.id %>">
          <%= game.title %>, <%=game.year %>, $<%= game.price %>
        </a>
      </li>
      <%}) %>
    </ul>
  </body>
</html>
