<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <%- include("partials/navbar.ejs") %>
    <h2>Popular Genres:</h2>
    <ul>
      <% topGenres.map((genre) => { %>
      <a href="/genres/<%= genre.id %>"
        ><%= genre.genre.charAt(0).toUpperCase() + genre.genre.slice(1) %></a
      >
      <%})%>
      <a href="/genres">View All Genres</a>
    </ul>
    <h2>Popular Developers:</h2>
    <ul>
      <% topDevelopers.map((developer) => { %>
      <a href="/developers/<%= developer.id %>"
        ><%= developer.developer.charAt(0).toUpperCase() +
        developer.developer.slice(1) %></a
      >
      <%})%>
      <a href="/developers">View All Developers</a>
    </ul>
    <h2>Newest Games:</h2>
    <ul>
      <% newestGames.map((game) => { %>
      <a href="/games/<%= game.id %>"
        ><%= game.title.charAt(0).toUpperCase() + game.title.slice(1) %></a
      >
      <%})%>
      <a href="/games">View All Games</a>
    </ul>
  </body>
</html>
