<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <%- include("partials/errors.ejs") %>
    <form action="/games/<%= game.id %>/update" method="post">
      <label for="title">Title: </label>
      <input
        type="text"
        name="title"
        id="title"
        value="<%= game.title %>"
        required
      />
      <label for="year">Release Year: </label>
      <input
        type="number"
        name="year"
        id="year"
        value="<%= game.year %>"
        required
      />
      <label for="price">Price: </label>
      <input
        type="number"
        name="price"
        id="price"
        value="<%= game.price %>"
        required
      />
      <fieldset>
        <legend>Developers:</legend>
        <% developers.forEach(developer => { %>
        <div>
          <input type="checkbox" name="developers" id="<%= developer %>"
          value="<%= developer.id %>" <%=
          gamesDeveloper.includes(developer.developer) ? "checked" : "" %> />
          <label for="developers"
            ><%= developer.developer.charAt(0).toUpperCase() +
            developer.developer.slice(1) %></label
          >
        </div>
        <% }) %>
      </fieldset>
      <fieldset>
        <legend>Genres:</legend>
        <% genres.forEach(genre => { %>
        <div>
          <input type="checkbox" name="genres" id="<%= genre.id %>" value="<%=
          genre.id %>" <%= gamesGenre.includes(genre.genre) ? "checked" : "" %>
          />
          <label for="genres"
            ><%= genre.genre.charAt(0).toUpperCase() + genre.genre.slice(1)
            %></label
          >
        </div>
        <% }) %>
      </fieldset>
      <button type="submit">Submit Game</button>
    </form>
  </body>
</html>
