<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/developers.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include("../partials/navbar.ejs") %>
    <div class="page_container">
      <header>
        <h1><%= title %></h1>
        <a class="create" href="/developers/create">Create Developer</a>
      </header>
      <ul class="developers_list">
        <% developers.map((developer) => { %>
        <a href="/developers/<%= developer.id %>" class="list_item">
          <span>
            <%=developer.developer.charAt(0).toUpperCase() +
            developer.developer.slice(1) %>
          </span>
        </a>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
