<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/developers.css" />
    <title><%= title.developer %> Games</title>
  </head>
  <body>
    <%- include("../partials/navbar.ejs") %>
    <div class="page_container">
      <header>
        <h1 class="developer_title">
          <%= developer.developer.charAt(0).toUpperCase() +
          developer.developer.slice(1) %> Games
        </h1>
      </header>
      <ul class="developers_list">
        <% if (!developerGames.length) { %>
        <p>No Games Available</p>
        <%}%> <% developerGames.map((game) => { %>
        <a class="list_item" href="/games/<%= game.id %>"
          ><span><%= game.title %></span></a
        >
        <%})%>
      </ul>
      <div class="developer_edit">
        <a class="update" href="/developers/<%= developer.id %>/update"
          >Rename Developer</a
        >
        <form action="/developers/<%= developer.id %>/delete" method="post">
          <button
            class="delete"
            type="submit"
            onclick="return confirm('Are you sure you want to delete developer?')"
          >
            Delete Developer
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
