<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <%- include("../partials/navbar.ejs") %>
    <form action="/games/create" method="post">
      <label for="title">Title: </label>
      <input type="text" name="title" id="title" required />
      <label for="year">Year: </label>
      <input type="number" name="year" id="year" required />
      <label for="price">Price: </label>
      <input type="number" name="price" id="price" required />
      <fieldset>
        <legend>Developers:</legend>
        <% developers.forEach(developer => { %>
        <div>
          <input
            type="checkbox"
            name="developers"
            id="<%= developer %>"
            value="<%= developer.id%>"
          />
          <label for="developers"
            ><%= developer.developer.charAt(0).toUpperCase() +
            developer.developer.slice(1) %></label
          >
        </div>
        <% }) %>
      </fieldset>
      <fieldset>
        <legend>Genres:</legend>
        <% genres.forEach(genre => { %>
        <div>
          <input
            type="checkbox"
            name="genres"
            id="<%= genre.id %>"
            value="<%= genre.id %>"
          />
          <label for="genres"
            ><%= genre.genre.charAt(0).toUpperCase() + genre.genre.slice(1)
            %></label
          >
        </div>
        <% }) %>
      </fieldset>
      <button type="submit">Submit Game</button>
    </form>
  </body>
</html>
