<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/games.css" />
    <title><%= game.title %></title>
  </head>
  <body>
    <%- include("../partials/navbar.ejs") %>
    <div class="page_container">
      <div class="game">
        <h1 class="game_title"><%= game.title %></h1>
        <ul class="game_details">
          <li>
            <span class="label">Release Year: </span>
            <span class="detail"><%= game.year %></span>
          </li>
          <li>
            <span class="label">Price: </span>
            <span class="detail">$<%= game.price %></span>
          </li>
          <% if(developers.length > 0) {%>
          <li>
            <span class="label">Developers: </span>
            <% developers.forEach((developer) => {%>
            <a href="/developers/<%=developer.developer_id%>">
              <span class="detail">
                <%= developer.developer.charAt(0).toUpperCase() +
                developer.developer.slice(1) %>
              </span>
            </a>
            <%})%>
          </li>
          <%}%> <% if (genres.length > 0){ %>
          <li>
            <span class="label">Genres: </span>
            <% genres.forEach((genre) => { %>
            <a href="/genres/<%=genre.genre_id%>">
              <span class="detail">
                <%= genre.genre.charAt(0).toUpperCase() + genre.genre.slice(1)%>
              </span>
            </a>
            <%})%>
          </li>
          <%}%>
        </ul>
        <div class="game_buttons">
          <a class="update" href="/games/<%= game.id %>/update">Update</a>
          <form action="/games/<%= game.id %>/delete" method="post">
            <button
              class="delete"
              type="submit"
              onclick="return confirm('Are you sure you want to delete this game?');"
            >
              Delete
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
